<robot name="robot_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="arm_link_1">
        <inertial>
            <mass value="6.47806" />
            <origin xyz="-0.0565926 0.0163423 0.0845222" rpy="0 0 -0.341122" />
            <inertia ixx="0.0364298" ixy="0.00925722" ixz="0.0247301" iyy="0.0645721" iyz="-0.00722045" izz="0.0459197" />
        </inertial>
        <visual>
            <origin xyz="3.07274e-19 8.65562e-19 0" rpy="0 0 -0.341122" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.670588_0.023529_0.023529_0.000000_0.000000">
                <color rgba="0.670588 0.0235294 0.0235294 1" />
            </material>
        </visual>
    </link>
    <link name="arm_link_2">
        <inertial>
            <mass value="2.85607" />
            <origin xyz="-0.150366 -0.00970574 0.0359522" rpy="0 -0 0" />
            <inertia ixx="0.00187796" ixy="-0.000634787" ixz="-4.49547e-05" iyy="0.050243" iyz="-4.84597e-05" izz="0.0513505" />
        </inertial>
        <visual>
            <origin xyz="0 9.18485e-19 0.02" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link_2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.670588_0.023529_0.023529_0.000000_0.000000">
                <color rgba="0.670588 0.0235294 0.0235294 1" />
            </material>
        </visual>
    </link>
    <link name="arm_link_3a">
        <inertial>
            <mass value="4.02402" />
            <origin xyz="0.0263375 -0.0460702 0.0391129" rpy="0 -0 0" />
            <inertia ixx="0.024657" ixy="0.0003082" ixz="-0.000353708" iyy="0.00539264" iyz="0.00109139" izz="0.0235049" />
        </inertial>
        <visual>
            <origin xyz="0.028 0.05 0.045" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link_3a.stl" scale="1 1 1" />
            </geometry>
            <material name="0.670588_0.023529_0.023529_0.000000_0.000000">
                <color rgba="0.670588 0.0235294 0.0235294 1" />
            </material>
        </visual>
    </link>
    <link name="arm_link_3b">
        <inertial>
            <mass value="1.35011" />
            <origin xyz="1.85636e-18 -0.0846847 1.63715e-17" rpy="0 1.5708 -0" />
            <inertia ixx="0.00366754" ixy="0" ixz="1.48328e-13" iyy="0.00138762" iyz="0" izz="0.00324468" />
        </inertial>
        <visual>
            <origin xyz="-9.18485e-19 -0.02 -2.03945e-34" rpy="0 1.5708 -0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/arm_link_3b.stl" scale="1 1 1" />
            </geometry>
            <material name="0.670588_0.023529_0.023529_0.000000_0.000000">
                <color rgba="0.670588 0.0235294 0.0235294 1" />
            </material>
        </visual>
    </link>
    <link name="base_link">
        <inertial>
            <mass value="43.3197" />
            <origin xyz="3.43497e-18 2.43767e-17 0.0385106" rpy="0 -0 0" />
            <inertia ixx="0.265478" ixy="0" ixz="0" iyy="0.265478" iyz="0" izz="0.482103" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/base_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.176471_0.172549_0.172549_0.000000_0.000000">
                <color rgba="0.176471 0.172549 0.172549 1" />
            </material>
        </visual>
    </link>
    <link name="claw">
        <inertial>
            <mass value="0.0427299" />
            <origin xyz="-0.0494042 -0.00897157 -0.0104666" rpy="3.14159 1.53279 3.14159" />
            <inertia ixx="3.9095e-06" ixy="-2.00775e-08" ixz="-5.29502e-06" iyy="5.16339e-05" iyz="-8.42076e-09" izz="5.00188e-05" />
        </inertial>
        <visual>
            <origin xyz="0.0065849 -0.009 -0.0617297" rpy="3.14159 1.53279 3.14159" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/claw.stl" scale="1 1 1" />
            </geometry>
            <material name="0.400000_0.400000_0.400000_0.000000_0.000000">
                <color rgba="0.4 0.4 0.4 1" />
            </material>
        </visual>
    </link>
    <link name="claw_1">
        <inertial>
            <mass value="0.0427299" />
            <origin xyz="-0.0489708 0.00902843 -0.0123364" rpy="0 1.5708 -0" />
            <inertia ixx="4.37821e-06" ixy="-1.9743e-08" ixz="-7.03063e-06" iyy="5.16339e-05" iyz="-9.17763e-09" izz="4.95501e-05" />
        </inertial>
        <visual>
            <origin xyz="0.00892589 0.009 -0.0614349" rpy="0 1.5708 -0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/claw.stl" scale="1 1 1" />
            </geometry>
            <material name="0.400000_0.400000_0.400000_0.000000_0.000000">
                <color rgba="0.4 0.4 0.4 1" />
            </material>
        </visual>
    </link>
    <link name="end_effector_a">
        <inertial>
            <mass value="1.04564" />
            <origin xyz="-0.0275 0.0280694 -0.0486176" rpy="0.523599 -0 0" />
            <inertia ixx="0.00131435" ixy="0" ixz="0" iyy="0.00117024" iyz="0.000271703" izz="0.000856502" />
        </inertial>
        <visual>
            <origin xyz="-0.0275 0.021 -0.0363731" rpy="0.523599 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/end_effector_a.stl" scale="1 1 1" />
            </geometry>
            <material name="0.670588_0.023529_0.023529_0.000000_0.000000">
                <color rgba="0.670588 0.0235294 0.0235294 1" />
            </material>
        </visual>
    </link>
    <link name="end_effector_b">
        <inertial>
            <mass value="0.161733" />
            <origin xyz="1.66974e-19 -0.00342727 1.07731e-18" rpy="0 -0 0" />
            <inertia ixx="6.15331e-05" ixy="0" ixz="0" iyy="9.83808e-05" iyz="0" izz="7.84922e-05" />
        </inertial>
        <visual>
            <origin xyz="0 0.01 -9.18485e-19" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/end_effector_b.stl" scale="1 1 1" />
            </geometry>
            <material name="0.670588_0.023529_0.023529_0.000000_0.000000">
                <color rgba="0.670588 0.0235294 0.0235294 1" />
            </material>
        </visual>
    </link>
    <link name="hex_head_screw_grade_a___b_m3x0_50_x_30">
        <inertial>
            <mass value="0.00203556" />
            <origin xyz="-1.66876e-13 -6.45026e-20 -0.0117609" rpy="0 -0 0" />
            <inertia ixx="2.0606e-07" ixy="0" ixz="0" iyy="2.0606e-07" iyz="0" izz="3.47081e-09" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0001" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/Hex_head_screw_grade_A___B_M3x0_50_x_30.stl" scale="1 1 1" />
            </geometry>
            <material name="0.603922_0.647059_0.686275_0.000000_0.000000">
                <color rgba="0.603922 0.647059 0.686275 1" />
            </material>
        </visual>
    </link>
    <link name="hex_head_screw_grade_a___b_m3x0_50_x_30_1">
        <inertial>
            <mass value="0.00203556" />
            <origin xyz="-1.66876e-13 -6.45026e-20 -0.0117609" rpy="0 -0 0" />
            <inertia ixx="2.0606e-07" ixy="0" ixz="0" iyy="2.0606e-07" iyz="0" izz="3.47081e-09" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0001" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/Hex_head_screw_grade_A___B_M3x0_50_x_30.stl" scale="1 1 1" />
            </geometry>
            <material name="0.603922_0.647059_0.686275_0.000000_0.000000">
                <color rgba="0.603922 0.647059 0.686275 1" />
            </material>
        </visual>
    </link>
    <link name="prevailing_torque_nut_thin_m3x0_50">
        <inertial>
            <mass value="0.000537796" />
            <origin xyz="-1.01443e-13 -6.7805e-14 -0.00136634" rpy="0 -0 0" />
            <inertia ixx="1.87914e-09" ixy="0" ixz="0" iyy="1.87914e-09" iyz="0" izz="2.60256e-09" />
        </inertial>
        <visual>
            <origin xyz="0 -7.52852e-20 -0.00231466" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/Prevailing_torque_nut_thin_M3x0_50.stl" scale="1 1 1" />
            </geometry>
            <material name="0.603922_0.647059_0.686275_0.000000_0.000000">
                <color rgba="0.603922 0.647059 0.686275 1" />
            </material>
        </visual>
    </link>
    <link name="prevailing_torque_nut_thin_m3x0_50_1">
        <inertial>
            <mass value="0.000537796" />
            <origin xyz="-1.01443e-13 -6.7805e-14 -0.00136634" rpy="0 -0 0" />
            <inertia ixx="1.87914e-09" ixy="0" ixz="0" iyy="1.87914e-09" iyz="0" izz="2.60256e-09" />
        </inertial>
        <visual>
            <origin xyz="0 -7.52852e-20 -0.00231466" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://robot_arm_description/meshes/Prevailing_torque_nut_thin_M3x0_50.stl" scale="1 1 1" />
            </geometry>
            <material name="0.603922_0.647059_0.686275_0.000000_0.000000">
                <color rgba="0.603922 0.647059 0.686275 1" />
            </material>
        </visual>
    </link>
    <link name="root" />
    <joint name="arm_link_1_2_joint" type="continuous">
        <origin xyz="-0.141357 0.0501817 0.16" rpy="1.5708 0.610865 2.80047" />
        <axis xyz="-0 -0 -1" />
        <parent link="arm_link_1" />
        <child link="arm_link_2" />
    </joint>
    <joint name="arm_link_2_3a_joint" type="continuous">
        <origin xyz="-0.35 0 7.84231e-17" rpy="0 1.5708 -3.83972" />
        <axis xyz="-1 -0 -0" />
        <parent link="arm_link_2" />
        <child link="arm_link_3a" />
    </joint>
    <joint name="arm_link_3_joint" type="continuous">
        <origin xyz="0.028 -0.226 0.045" rpy="0 1.5708 1.44443e-15" />
        <axis xyz="0 1 0" />
        <parent link="arm_link_3a" />
        <child link="arm_link_3b" />
    </joint>
    <joint name="arm_link_3b_end_eff_a_joint" type="continuous">
        <origin xyz="0 -0.135 -0.0275" rpy="0 1.5708 -3.14159" />
        <axis xyz="1 0 0" />
        <parent link="arm_link_3b" />
        <child link="end_effector_a" />
    </joint>
    <joint name="base_arm_link_1_joint" type="continuous">
        <origin xyz="-2.86527e-17 -1.03025e-17 0.085" rpy="4.42532e-17 -3.55473e-16 3.05311e-16" />
        <axis xyz="0 0 -1" />
        <parent link="base_link" />
        <child link="arm_link_1" />
    </joint>
    <joint name="end_effector_b_claw_1_joint" type="continuous">
        <origin xyz="-0.041194 -0.0172147 0.009" rpy="-1.5708 2.16493e-15 1.5708" />
        <axis xyz="0 -1 0" />
        <parent link="end_effector_b" />
        <child link="claw_1" />
    </joint>
    <joint name="end_effector_b_claw_2_joint" type="continuous">
        <origin xyz="0.041194 -0.0172147 0.009" rpy="1.5708 4.55191e-15 1.5708" />
        <axis xyz="0 1 0" />
        <parent link="end_effector_b" />
        <child link="claw" />
    </joint>
    <joint name="end_effector_b_nut_1_joint" type="fixed">
        <origin xyz="-0.041194 -0.0172147 -0.013" rpy="-1.73637e-17 -1.16875e-17 1.5708" />
        <axis xyz="0 0 1" />
        <parent link="end_effector_b" />
        <child link="prevailing_torque_nut_thin_m3x0_50_1" />
    </joint>
    <joint name="end_effector_b_nut_2_joint" type="fixed">
        <origin xyz="0.041194 -0.0172147 -0.013" rpy="-1.73637e-17 -1.16875e-17 1.5708" />
        <axis xyz="0 0 1" />
        <parent link="end_effector_b" />
        <child link="prevailing_torque_nut_thin_m3x0_50" />
    </joint>
    <joint name="end_effector_b_screw_1_joint" type="fixed">
        <origin xyz="-0.041194 -0.0172147 0.013" rpy="-1.73637e-17 -1.16875e-17 1.5708" />
        <axis xyz="0 0 1" />
        <parent link="end_effector_b" />
        <child link="hex_head_screw_grade_a___b_m3x0_50_x_30" />
    </joint>
    <joint name="end_effector_b_screw_2_joint" type="fixed">
        <origin xyz="0.041194 -0.0172147 0.013" rpy="-1.73637e-17 -1.16875e-17 1.5708" />
        <axis xyz="0 0 1" />
        <parent link="end_effector_b" />
        <child link="hex_head_screw_grade_a___b_m3x0_50_x_30_1" />
    </joint>
    <joint name="end_effector_joint" type="fixed">
        <origin xyz="-0.0275 0.054 -0.0935307" rpy="1.0472 2.9943e-16 -3.14159" />
        <axis xyz="0 1 0" />
        <parent link="end_effector_a" />
        <child link="end_effector_b" />
    </joint>
    <joint name="base_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.57209e-18 3.46945e-18 -1.84917e-32" />
        <axis xyz="0 0 1" />
        <parent link="root" />
        <child link="base_link" />
    </joint>
</robot>
