<robot name="quadcopter">
    <link name="axis">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_1">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_10">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_11">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_2">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_3">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_4">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_5">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_6">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_7">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_8">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="mate_connector_9">
        <inertial>
            <mass value="1e-09" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="4e-14" ixy="0" ixz="0" iyy="4e-14" iyz="0" izz="4e-14" />
        </inertial>
    </link>
    <link name="part_1">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="8.03413e-19 -1.61865e-36 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_1">
        <inertial>
            <mass value="0.0172351" />
            <origin xyz="-0.0152269 0.01525 -0.00192567" rpy="0 -0 0" />
            <inertia ixx="8.02132e-06" ixy="-1.3774e-08" ixz="-5.67278e-10" iyy="8.0374e-06" iyz="0" izz="1.60163e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.01525 0.01525 -0.0035" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_10">
        <inertial>
            <mass value="1.35553e-07" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="1.35634e-12" ixy="0" ixz="0" iyy="1.35634e-12" iyz="0" izz="3.90697e-13" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_5.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_11">
        <inertial>
            <mass value="2e-06" />
            <origin xyz="0 1.59361e-19 0.0025" rpy="0 -0 0" />
            <inertia ixx="7.08333e-11" ixy="0" ixz="0" iyy="7.08333e-11" iyz="0" izz="1.33333e-10" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_6.stl" scale="1 1 1" />
            </geometry>
            <material name="0.000000_0.000000_1.000000_0.000000_0.000000">
                <color rgba="0 0 1 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_12">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="1.21376e-18 -2.41188e-19 0.00731802" rpy="0 -0 1.17928" />
            <inertia ixx="4.48507e-07" ixy="2.97852e-10" ixz="0" iyy="4.49106e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 1.17928" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_13">
        <inertial>
            <mass value="8.77973e-07" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.07659e-10" ixy="-1.97081e-11" ixz="0" iyy="1.13549e-11" iyz="0" izz="5.15747e-10" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_4.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_14">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="-0.0285564 0.0160061 0.00620303" rpy="0 -0 0.785398" />
            <inertia ixx="5.06194e-06" ixy="4.8103e-06" ixz="-5.94412e-07" iyy="5.62008e-06" iyz="5.48452e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.00777817 -0.013435 0" rpy="0 -0 0.785398" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_7.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_15">
        <inertial>
            <mass value="8.77973e-07" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.07659e-10" ixy="-1.97081e-11" ixz="0" iyy="1.13549e-11" iyz="0" izz="5.15747e-10" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_4.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_16">
        <inertial>
            <mass value="0.0174927" />
            <origin xyz="0.00601608 -0.0380161 -0.00248085" rpy="0 0 -0.785398" />
            <inertia ixx="8.72435e-06" ixy="9.84283e-08" ixz="-4.1665e-10" iyy="8.7519e-06" iyz="4.1665e-10" izz="1.74342e-05" />
        </inertial>
        <visual>
            <origin xyz="0.006 -0.038 -0.0041" rpy="0 0 -0.785398" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_8.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_17">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="8.03413e-19 -1.61865e-36 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_18">
        <inertial>
            <mass value="8.77973e-07" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.07659e-10" ixy="-1.97081e-11" ixz="0" iyy="1.13549e-11" iyz="0" izz="5.15747e-10" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_4.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_19">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="-0.0285564 0.0160061 0.00620303" rpy="0 -0 0.785398" />
            <inertia ixx="5.06194e-06" ixy="4.8103e-06" ixz="-5.94412e-07" iyy="5.62008e-06" iyz="5.48452e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.00777817 -0.013435 0" rpy="0 -0 0.785398" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_7.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_2">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="1.21376e-18 -2.41188e-19 0.00731802" rpy="0 -0 1.17928" />
            <inertia ixx="4.48507e-07" ixy="2.97852e-10" ixz="0" iyy="4.49106e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 1.17928" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_20">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="-0.0285564 0.0160061 0.00620303" rpy="0 -0 0.785398" />
            <inertia ixx="5.06194e-06" ixy="4.8103e-06" ixz="-5.94412e-07" iyy="5.62008e-06" iyz="5.48452e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.00777817 -0.013435 0" rpy="0 -0 0.785398" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_7.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_21">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="8.03413e-19 -1.61865e-36 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_22">
        <inertial>
            <mass value="1.35553e-07" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="1.35634e-12" ixy="0" ixz="0" iyy="1.35634e-12" iyz="0" izz="3.90697e-13" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_5.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_23">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="8.03413e-19 -1.61865e-36 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_24">
        <inertial>
            <mass value="0.00355087" />
            <origin xyz="2.75165e-05 -4.77289e-05 0.000880481" rpy="0 -0 0" />
            <inertia ixx="3.74084e-07" ixy="1.52065e-09" ixz="-1.74638e-10" iyy="3.72328e-07" iyz="3.03037e-10" izz="7.44525e-07" />
        </inertial>
        <visual>
            <origin xyz="-6.28093e-19 2.34488e-18 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_9.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_25">
        <inertial>
            <mass value="0.00355087" />
            <origin xyz="-0.0152225 0.0152023 -0.000869519" rpy="0 -0 0" />
            <inertia ixx="3.74084e-07" ixy="1.52065e-09" ixz="-1.74638e-10" iyy="3.72328e-07" iyz="3.03037e-10" izz="7.44525e-07" />
        </inertial>
        <visual>
            <origin xyz="-0.01525 0.01525 -0.00175" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_9.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_26">
        <inertial>
            <mass value="1.35553e-07" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="1.35634e-12" ixy="0" ixz="0" iyy="1.35634e-12" iyz="0" izz="3.90697e-13" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_5.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_27">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 -0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 -0.006" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_3.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_28">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="-0.0285564 0.0160061 0.00620303" rpy="0 -0 0.785398" />
            <inertia ixx="5.06194e-06" ixy="4.8103e-06" ixz="-5.94412e-07" iyy="5.62008e-06" iyz="5.48452e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.00777817 -0.013435 0" rpy="0 -0 0.785398" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_7.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_3">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_3.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_4">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_3.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_5">
        <inertial>
            <mass value="8.77973e-07" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.07659e-10" ixy="-1.97081e-11" ixz="0" iyy="1.13549e-11" iyz="0" izz="5.15747e-10" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_4.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_6">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="1.21376e-18 -2.41188e-19 0.00731802" rpy="0 -0 1.17928" />
            <inertia ixx="4.48507e-07" ixy="2.97852e-10" ixz="0" iyy="4.49106e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 1.17928" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_7">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_3.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_8">
        <inertial>
            <mass value="1.35553e-07" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="1.35634e-12" ixy="0" ixz="0" iyy="1.35634e-12" iyz="0" izz="3.90697e-13" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_5.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_9">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="1.21376e-18 -2.41188e-19 0.00731802" rpy="0 -0 1.17928" />
            <inertia ixx="4.48507e-07" ixy="2.97852e-10" ixz="0" iyy="4.49106e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 1.17928" />
            <geometry>
                <mesh filename="package://assembly_1/meshes/Part_1_2.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="root" />
    <joint name="axis" type="fixed">
        <origin xyz="-1.92593e-34 1.92593e-34 2.1684e-19" rpy="3.14159 -1.97215e-31 -2.77556e-17" />
        <axis xyz="0 0 1" />
        <parent link="part_1_24" />
        <child link="axis" />
    </joint>
    <joint name="fastened_1" type="fixed">
        <origin xyz="-6.93889e-18 0 -0.00175" rpy="-3.1225e-17 -3.81639e-17 9.71445e-17" />
        <axis xyz="-0 -0 1" />
        <parent link="part_1_25" />
        <child link="part_1_1" />
    </joint>
    <joint name="fastened_11" type="fixed">
        <origin xyz="-2.32503e-19 -7.36778e-19 0.005" rpy="-4.93038e-32 -2.46519e-31 -1.5708" />
        <axis xyz="-0 -0 -1" />
        <parent link="part_1_11" />
        <child link="part_1_24" />
    </joint>
    <joint name="fastened_4" type="fixed">
        <origin xyz="0 -1.73472e-18 -0.006" rpy="-3.98558e-17 4.09051e-17 -2.35922e-16" />
        <axis xyz="-0 -0 1" />
        <parent link="part_1_27" />
        <child link="part_1_25" />
    </joint>
    <joint name="fastened_5" type="fixed">
        <origin xyz="0 0.0305 1.73472e-18" rpy="2.08167e-17 -2.60209e-17 2.77556e-17" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_25" />
        <child link="part_1_4" />
    </joint>
    <joint name="fastened_6" type="fixed">
        <origin xyz="-0.0305 0.0305 0" rpy="2.08167e-17 -2.60209e-17 2.77556e-17" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_25" />
        <child link="part_1_3" />
    </joint>
    <joint name="fastened_7" type="fixed">
        <origin xyz="-0.0305 -1.73472e-18 1.73472e-18" rpy="2.08167e-17 -2.60209e-17 2.77556e-17" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_25" />
        <child link="part_1_7" />
    </joint>
    <joint name="fastened_8" type="fixed">
        <origin xyz="-0.01525 -0.01525 0.00175" rpy="-3.14159 4.73501e-17 3.14159" />
        <axis xyz="0 0 1" />
        <parent link="part_1_24" />
        <child link="part_1_27" />
    </joint>
    <joint name="fastened_9" type="fixed">
        <origin xyz="-0.0417797 -0.101884 -1.38778e-17" rpy="-3.14159 -1.01165e-16 -2.35619" />
        <axis xyz="-0 -0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_10" />
    </joint>
    <joint name="fastened_9_1" type="fixed">
        <origin xyz="0.0933985 -0.0955198 -2.56739e-16" rpy="-3.14159 3.11347e-15 -0.785398" />
        <axis xyz="-0 -0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_26" />
    </joint>
    <joint name="fastened_9_2" type="fixed">
        <origin xyz="0.0870346 0.0396584 5.0307e-17" rpy="-3.14159 -5.90024e-16 0.785398" />
        <axis xyz="-0 -0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_22" />
    </joint>
    <joint name="fastened_9_3" type="fixed">
        <origin xyz="-0.0481437 0.0332945 -1.73472e-18" rpy="3.14159 -2.17228e-16 2.35619" />
        <axis xyz="-0 -0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_8" />
    </joint>
    <joint name="hanging_node_to_root_joint" type="fixed">
        <origin xyz="5.52943e-18 3.03577e-18 -0.00424786" rpy="-9.62764e-16 1.01573e-15 -2.97511" />
        <axis xyz="0 0 1" />
        <parent link="root" />
        <child link="part_1_11" />
    </joint>
    <joint name="mate_connector_1" type="fixed">
        <origin xyz="1.73472e-18 0 0" rpy="6.84228e-49 9.86076e-32 1.38778e-17" />
        <axis xyz="0 0 1" />
        <parent link="part_1_27" />
        <child link="mate_connector_1" />
    </joint>
    <joint name="mate_connector_10" type="fixed">
        <origin xyz="-0.00848528 -0.00848528 0.02" rpy="-1.87004e-31 1.06341e-31 0.785398" />
        <axis xyz="0 0 1" />
        <parent link="part_1_20" />
        <child link="mate_connector_10" />
    </joint>
    <joint name="mate_connector_11" type="fixed">
        <origin xyz="-1.4456e-19 -8.49292e-19 0.005" rpy="-1.97215e-31 4.93038e-32 -2.77556e-17" />
        <axis xyz="0 0 1" />
        <parent link="part_1_11" />
        <child link="mate_connector_11" />
    </joint>
    <joint name="mate_connector_2" type="fixed">
        <origin xyz="-0.01525 -0.01525 0.00175" rpy="-4.93038e-32 -1.97215e-31 -2.77556e-17" />
        <axis xyz="0 0 1" />
        <parent link="part_1_24" />
        <child link="mate_connector_2" />
    </joint>
    <joint name="mate_connector_3" type="fixed">
        <origin xyz="-0.00848528 -0.00848528 0" rpy="3.14159 1.06341e-31 0.785398" />
        <axis xyz="0 0 1" />
        <parent link="part_1_20" />
        <child link="mate_connector_3" />
    </joint>
    <joint name="mate_connector_4" type="fixed">
        <origin xyz="0 -3.46945e-18 0" rpy="3.14159 1.06341e-31 0.785398" />
        <axis xyz="0 0 1" />
        <parent link="part_1_20" />
        <child link="mate_connector_4" />
    </joint>
    <joint name="mate_connector_5" type="fixed">
        <origin xyz="-0.0463627 -0.00737742 0.0005" rpy="-1.97215e-31 9.86076e-32 -1.38778e-17" />
        <axis xyz="0 0 1" />
        <parent link="part_1_1" />
        <child link="mate_connector_5" />
    </joint>
    <joint name="mate_connector_6" type="fixed">
        <origin xyz="-0.0378774 -0.0158627 0.0005" rpy="-1.97215e-31 9.86076e-32 -1.38778e-17" />
        <axis xyz="0 0 1" />
        <parent link="part_1_1" />
        <child link="mate_connector_6" />
    </joint>
    <joint name="mate_connector_7" type="fixed">
        <origin xyz="-1.73472e-18 0 0" rpy="1.13924e-31 3.86676e-33 -0.785398" />
        <axis xyz="0 0 1" />
        <parent link="part_1_16" />
        <child link="mate_connector_7" />
    </joint>
    <joint name="mate_connector_8" type="fixed">
        <origin xyz="0.012 -2.77556e-17 0" rpy="1.13924e-31 3.86676e-33 -0.785398" />
        <axis xyz="0 0 1" />
        <parent link="part_1_16" />
        <child link="mate_connector_8" />
    </joint>
    <joint name="mate_connector_9" type="fixed">
        <origin xyz="0 0 0.02" rpy="-1.87004e-31 1.06341e-31 0.785398" />
        <axis xyz="0 0 1" />
        <parent link="part_1_20" />
        <child link="mate_connector_9" />
    </joint>
    <joint name="revolute_1" type="continuous">
        <origin xyz="0.0158627 0.0378774 0.0005" rpy="-2.70329e-15 -2.02636e-15 -1.5708" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_1" />
        <child link="part_1_19" />
        <mimic offset="0" multiplier="1" joint="revolute_1_2" />
    </joint>
    <joint name="revolute_1_1" type="continuous">
        <origin xyz="0.00737742 -0.0158627 0.0005" rpy="-3.24342e-16 2.55339e-16 3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_1" />
        <child link="part_1_14" />
        <mimic offset="0" multiplier="1" joint="revolute_1_2" />
    </joint>
    <joint name="revolute_1_2" type="continuous">
        <origin xyz="-0.0463627 -0.00737742 0.0005" rpy="-8.16532e-17 8.72495e-18 1.5708" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_1" />
        <child link="part_1_20" />
    </joint>
    <joint name="revolute_1_3" type="continuous">
        <origin xyz="-0.0378774 0.0463627 0.0005" rpy="4.35918e-17 2.71869e-16 -3.05311e-16" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_1" />
        <child link="part_1_28" />
        <mimic offset="0" multiplier="1" joint="revolute_1_1" />
    </joint>
    <joint name="revolute_3" type="continuous">
        <origin xyz="0 3.46945e-18 0.02" rpy="-3.14159 -1.59112e-16 -2.35619" />
        <axis xyz="0 0 1" />
        <parent link="part_1_20" />
        <child link="part_1_16" />
    </joint>
    <joint name="revolute_5" type="continuous">
        <origin xyz="0.10748 -0.115966 0.0045" rpy="7.22883e-16 2.80721e-15 -0.785398" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_9" />
        <mimic offset="0" multiplier="1" joint="revolute_5_2" />
    </joint>
    <joint name="revolute_5_1" type="continuous">
        <origin xyz="-0.0622254 -0.115966 0.0045" rpy="3.73485e-16 1.50303e-16 -2.35619" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_2" />
        <mimic offset="0" multiplier="1" joint="revolute_5_2" />
    </joint>
    <joint name="revolute_5_2" type="continuous">
        <origin xyz="-0.0622254 0.0537401 0.0045" rpy="-1.50343e-16 -2.3123e-17 2.35619" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_12" />
    </joint>
    <joint name="revolute_5_3" type="continuous">
        <origin xyz="0.10748 0.0537401 0.0045" rpy="3.60761e-15 4.02767e-16 0.785398" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_20" />
        <child link="part_1_6" />
        <mimic offset="0" multiplier="1" joint="revolute_5_1" />
    </joint>
    <joint name="revolute_6" type="continuous">
        <origin xyz="-0.12 0.12 0.0185" rpy="2.94162e-16 -3.63604e-16 2.75008" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_12" />
        <child link="part_1_23" />
        <mimic offset="0" multiplier="1" joint="revolute_6_1" />
    </joint>
    <joint name="revolute_6_1" type="continuous">
        <origin xyz="0 1.12842e-18 0.0185" rpy="1.58369e-17 -8.05013e-17 1.17928" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_12" />
        <child link="part_1_21" />
    </joint>
    <joint name="revolute_6_2" type="continuous">
        <origin xyz="-0.24 -7.51994e-17 0.0185" rpy="2.70578e-15 1.07487e-15 -1.96231" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_12" />
        <child link="part_1_17" />
        <mimic offset="0" multiplier="1" joint="revolute_6_1" />
    </joint>
    <joint name="revolute_6_3" type="continuous">
        <origin xyz="-0.12 -0.12 0.0185" rpy="1.87801e-15 -2.57394e-15 -0.391512" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_12" />
        <child link="part_1" />
        <mimic offset="0" multiplier="1" joint="revolute_6" />
    </joint>
    <joint name="revolute_7" type="continuous">
        <origin xyz="-0.15671 0.0651296 0.0035" rpy="1.79873e-15 -2.56191e-15 -1.5708" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_21" />
        <child link="part_1_5" />
        <mimic offset="0" multiplier="1" joint="revolute_7_1" />
    </joint>
    <joint name="revolute_7_1" type="continuous">
        <origin xyz="0.0651296 0.15671 0.0035" rpy="4.08502e-16 -3.71623e-16 1.5708" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_21" />
        <child link="part_1_15" />
        <mimic offset="0" multiplier="1" joint="revolute_7_3" />
    </joint>
    <joint name="revolute_7_2" type="continuous">
        <origin xyz="-0.0915807 0.22184 0.0035" rpy="2.68422e-15 4.33624e-16 3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_21" />
        <child link="part_1_18" />
        <mimic offset="0" multiplier="1" joint="revolute_7_3" />
    </joint>
    <joint name="revolute_7_3" type="continuous">
        <origin xyz="-6.93889e-18 0 0.0035" rpy="-9.86076e-32 2.46519e-32 1.38778e-17" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_21" />
        <child link="part_1_13" />
    </joint>
</robot>
