<robot name="quadcopter">

    <link name="base_footprint"/>
    <link name="arm_link">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="-0.00887441 0.0315104 -0.013797" rpy="0 -0 0" />
            <inertia ixx="1.01513e-05" ixy="2.79072e-07" ixz="-3.24984e-08" iyy="5.30709e-07" iyz="8.08127e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.015 -0.004 -0.02" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Arm_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="arm_link_1">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="0.0200711 -0.0244914 0.00620303" rpy="0 -0 -2.35619" />
            <inertia ixx="5.06194e-06" ixy="4.8103e-06" ixz="5.94412e-07" iyy="5.62008e-06" iyz="-5.48452e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.000707107 0.00494975 0" rpy="0 -0 -2.35619" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Arm_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="arm_link_2">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="-0.0200711 0.0244914 0.00620303" rpy="0 -0 0.785398" />
            <inertia ixx="5.06194e-06" ixy="4.8103e-06" ixz="-5.94412e-07" iyy="5.62008e-06" iyz="5.48452e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="0.000707107 -0.00494975 0" rpy="0 -0 0.785398" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Arm_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="arm_link_3">
        <inertial>
            <mass value="0.0122447" />
            <origin xyz="-0.0285564 0.0160061 0.00620303" rpy="0 -0 0.785398" />
            <inertia ixx="5.06194e-06" ixy="4.8103e-06" ixz="-5.94412e-07" iyy="5.62008e-06" iyz="5.48452e-07" izz="1.00597e-05" />
        </inertial>
        <visual>
            <origin xyz="-0.00777817 -0.013435 0" rpy="0 -0 0.785398" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Arm_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="base_link">
        <inertial>
            <mass value="0.0173402" />
            <origin xyz="0.0311127 0.0226274 -0.00241704" rpy="0 -0 0" />
            <inertia ixx="8.0893e-06" ixy="0" ixz="0" iyy="8.0893e-06" iyz="0" izz="1.61357e-05" />
        </inertial>
        <visual>
            <origin xyz="0.0311127 0.0226274 -0.004" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/base_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <link name="board_link">
        <inertial>
            <mass value="0.00355087" />
            <origin xyz="-0.0152225 0.0152023 0.000880481" rpy="0 -0 0" />
            <inertia ixx="3.74084e-07" ixy="1.52065e-09" ixz="-1.74638e-10" iyy="3.72328e-07" iyz="3.03037e-10" izz="7.44525e-07" />
        </inertial>
        <visual>
            <origin xyz="-0.01525 0.01525 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Board_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="board_link_1">
        <inertial>
            <mass value="0.00355087" />
            <origin xyz="0.0152775 0.0152023 -0.000869519" rpy="0 -0 0" />
            <inertia ixx="3.74084e-07" ixy="1.52065e-09" ixz="-1.74638e-10" iyy="3.72328e-07" iyz="3.03037e-10" izz="7.44525e-07" />
        </inertial>
        <visual>
            <origin xyz="0.01525 0.01525 -0.00175" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Board_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="imu_link">
        <inertial>
            <mass value="0.002104" />
            <origin xyz="1.4456e-19 5.56902e-19 0.0025" rpy="0 -0 0" />
            <inertia ixx="7.45167e-08" ixy="0" ixz="0" iyy="7.45167e-08" iyz="0" izz="1.40267e-07" />
        </inertial>
        <visual>
            <origin xyz="1.4456e-19 3.97541e-19 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/imu_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.000000_0.000000_1.000000_0.000000_0.000000">
                <color rgba="0 0 1 1" />
            </material>
        </visual>
    </link>
    <link name="motor_link">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="2.40215e-19 -1.21395e-18 0.00731802" rpy="0 -0 0" />
            <inertia ixx="4.49229e-07" ixy="0" ixz="0" iyy="4.48384e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Motor_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="motor_link_1">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="2.92128e-19 -1.20251e-18 0.00731802" rpy="0 -0 0.0429589" />
            <inertia ixx="4.49227e-07" ixy="3.62325e-11" ixz="0" iyy="4.48386e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0.0429589" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Motor_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="motor_link_2">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="2.40215e-19 -1.21395e-18 0.00731802" rpy="0 -0 0" />
            <inertia ixx="4.49229e-07" ixy="0" ixz="0" iyy="4.48384e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Motor_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="motor_link_3">
        <inertial>
            <mass value="0.00882396" />
            <origin xyz="2.40215e-19 -1.21395e-18 0.00731802" rpy="0 -0 0" />
            <inertia ixx="4.49229e-07" ixy="0" ixz="0" iyy="4.48384e-07" iyz="0" izz="5.69462e-07" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Motor_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.623529_0.615686_0.615686_0.000000_0.000000">
                <color rgba="0.623529 0.615686 0.615686 1" />
            </material>
        </visual>
    </link>
    <link name="pillar_link">
        <inertial>
            <mass value="0.000216885" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="2.17014e-09" ixy="0" ixz="0" iyy="2.17014e-09" iyz="0" izz="6.25114e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Pillar_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="pillar_link_1">
        <inertial>
            <mass value="0.000216885" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="2.17014e-09" ixy="0" ixz="0" iyy="2.17014e-09" iyz="0" izz="6.25114e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Pillar_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="pillar_link_2">
        <inertial>
            <mass value="0.000216885" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="2.17014e-09" ixy="0" ixz="0" iyy="2.17014e-09" iyz="0" izz="6.25114e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Pillar_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="pillar_link_3">
        <inertial>
            <mass value="0.000216885" />
            <origin xyz="1.60752e-19 -5.78954e-19 0.00290028" rpy="0 -0 0" />
            <inertia ixx="2.17014e-09" ixy="0" ixz="0" iyy="2.17014e-09" iyz="0" izz="6.25114e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -7.65404e-20 -0.0039" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Pillar_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="propeller_link">
        <inertial>
            <mass value="0.00103601" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.99038e-07" ixy="-2.32556e-08" ixz="0" iyy="1.33988e-08" iyz="0" izz="6.08582e-07" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Propeller_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="propeller_link_1">
        <inertial>
            <mass value="0.00103601" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.99038e-07" ixy="-2.32556e-08" ixz="0" iyy="1.33988e-08" iyz="0" izz="6.08582e-07" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Propeller_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="propeller_link_2">
        <inertial>
            <mass value="0.00103601" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.99038e-07" ixy="-2.32556e-08" ixz="0" iyy="1.33988e-08" iyz="0" izz="6.08582e-07" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Propeller_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="propeller_link_3">
        <inertial>
            <mass value="0.00103601" />
            <origin xyz="5.18715e-19 -4.49107e-18 0.0031279" rpy="0 -0 0" />
            <inertia ixx="5.99038e-07" ixy="-2.32556e-08" ixz="0" iyy="1.33988e-08" iyz="0" izz="6.08582e-07" />
        </inertial>
        <visual>
            <origin xyz="-8.09667e-19 -4.69218e-19 0.003" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Propeller_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.282353_0.549020_0.160784_0.000000_0.000000">
                <color rgba="0.282353 0.54902 0.160784 1" />
            </material>
        </visual>
    </link>
    <link name="spacer_link">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spacer_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="spacer_link_1">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spacer_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="spacer_link_2">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spacer_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="spacer_link_3">
        <inertial>
            <mass value="0.000120637" />
            <origin xyz="-1.91341e-19 9.56755e-20 0.003" rpy="0 -0 0" />
            <inertia ixx="6.18265e-10" ixy="0" ixz="0" iyy="6.18265e-10" iyz="0" izz="5.12708e-10" />
        </inertial>
        <visual>
            <origin xyz="0 -9.18485e-20 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spacer_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.498039_0.498039_0.498039_0.000000_0.000000">
                <color rgba="0.498039 0.498039 0.498039 1" />
            </material>
        </visual>
    </link>
    <link name="spinner_link">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="8.03413e-19 -1.61865e-36 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spinner_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="spinner_link_1">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="8.03413e-19 -1.61865e-36 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spinner_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="spinner_link_2">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="8.03413e-19 -1.61865e-36 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spinner_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="spinner_link_3">
        <inertial>
            <mass value="0.00113254" />
            <origin xyz="-1.45706e-18 8.3325e-35 0.00310082" rpy="0 -0 0" />
            <inertia ixx="2.86144e-08" ixy="0" ixz="0" iyy="2.86144e-08" iyz="0" izz="3.17466e-08" />
        </inertial>
        <visual>
            <origin xyz="-2.26047e-18 8.49437e-35 4.33681e-19" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Spinner_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.647059_0.647059_0.647059_0.000000_0.000000">
                <color rgba="0.647059 0.647059 0.647059 1" />
            </material>
        </visual>
    </link>
    <link name="top_link">
        <inertial>
            <mass value="0.0175978" />
            <origin xyz="3.72278e-18 -6.70824e-18 0.00162799" rpy="0 -0 0" />
            <inertia ixx="8.7077e-06" ixy="0" ixz="0" iyy="8.88847e-06" iyz="0" izz="1.75536e-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://drone_description/meshes/Top_link.stl" scale="1 1 1" />
            </geometry>
            <material name="0.972549_0.529412_0.003922_0.000000_0.000000">
                <color rgba="0.972549 0.529412 0.00392157 1" />
            </material>
        </visual>
    </link>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 0.008" rpy="0 0 0" />
    </joint>
    <joint name="arms_top_1_joint" type="continuous">
        <origin xyz="0.0311127 -0.0226274 0.0041" rpy="-3.14159 -4.28599e-17 0.785398" />
        <axis xyz="-0 -0 1" />
        <parent link="top_link" />
        <child link="arm_link" />
    </joint>
    <joint name="base_board1_joint" type="fixed">
        <origin xyz="0.0463627 0.00737742 -0.0005" rpy="2.11916e-17 -4.90352e-18 -4.996e-16" />
        <axis xyz="0 0 -1" />
        <parent link="base_link" />
        <child link="board_link" />
    </joint>
    <joint name="board2_imu_joint" type="fixed">
        <origin xyz="0.01525 0.01525 -0.00175" rpy="-3.14159 1.38667e-32 -3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="board_link_1" />
        <child link="imu_link" />
    </joint>
    <joint name="base_top_joint" type="fixed">
        <origin xyz="-0.0814963 0.0335523 0.0258382" rpy="-3.14159 2.13437e-16 -2.39915" />
        <axis xyz="0 0 1" />
        <parent link="base_link" />
        <child link="top_link" />
    </joint>
    <joint name="motor1_spinner1_joint" type="continuous">
        <origin xyz="2.77556e-17 1.38778e-17 0.0185" rpy="-7.64093e-18 3.26804e-18 0.0429589" />
        <axis xyz="-0 -0 -1" />
        <parent link="motor_link_1" />
        <child link="spinner_link_3" />
    </joint>
    <joint name="motor2_spinner2_joint" type="continuous">
        <origin xyz="0 3.46945e-18 0.0185" rpy="-8.55285e-50 2.46519e-32 -6.93889e-18" />
        <axis xyz="0 0 -1" />
        <parent link="motor_link_3" />
        <child link="spinner_link_1" />
    </joint>
    <joint name="motor3_spinner3_joint" type="continuous">
        <origin xyz="0 2.77556e-17 0.0185" rpy="0 -0 2.902e-33" />
        <axis xyz="0 0 -1" />
        <parent link="motor_link" />
        <child link="spinner_link_2" />
    </joint>
    <joint name="motor4_spinner4_joint" type="continuous">
        <origin xyz="0 0 0.0185" rpy="1.2326e-32 1.2326e-32 -6.93889e-18" />
        <axis xyz="0 0 -1" />
        <parent link="motor_link_2" />
        <child link="spinner_link" />
    </joint>
    <joint name="rear_left_arm_base_1_joint" type="fixed">
        <origin xyz="0.00848528 0.0537401 -8.67362e-19" rpy="1.11911e-17 -1.72107e-17 1.94289e-16" />
        <axis xyz="0 0 -1" />
        <parent link="base_link" />
        <child link="arm_link_3" />
    </joint>
    <joint name="rear_left_arm_motor4_joint" type="continuous">
        <origin xyz="-0.0622254 0.0537401 0.0045" rpy="-6.38197e-33 1.54074e-32 -0.785398" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link_3" />
        <child link="motor_link_2" />
    </joint>
    <joint name="rear_left_arm_pillar4_joint" type="fixed">
        <origin xyz="-0.0481437 0.0332945 -1.73472e-18" rpy="-3.14159 -1.54074e-32 2.35619" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link_3" />
        <child link="pillar_link" />
    </joint>
    <joint name="rear_left_board1_spacer_joint" type="fixed">
        <origin xyz="-0.0305 0.0305 0.00175" rpy="2.46519e-32 1.38667e-32 -5.55112e-17" />
        <axis xyz="0 0 -1" />
        <parent link="board_link" />
        <child link="spacer_link" />
    </joint>
    <joint name="rear_right_arm_base_1_joint" type="fixed">
        <origin xyz="0.0537401 0.0537401 -1.30104e-18" rpy="1.24836e-16 1.19119e-17 -1.5708" />
        <axis xyz="0 0 -1" />
        <parent link="base_link" />
        <child link="arm_link_2" />
    </joint>
    <joint name="rear_right_arm_motor3_joint" type="continuous">
        <origin xyz="-0.0537401 0.0622254 0.0045" rpy="-4.11167e-32 3.14719e-32 0.785398" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link_2" />
        <child link="motor_link" />
    </joint>
    <joint name="rear_right_arm_pillar3_joint" type="fixed">
        <origin xyz="-0.0396584 0.0417797 -2.38524e-18" rpy="-3.14159 -3.14719e-32 -2.35619" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link_2" />
        <child link="pillar_link_1" />
    </joint>
    <joint name="rear_right_board1_spacer_joint" type="fixed">
        <origin xyz="-3.46945e-18 0.0305 0.00175" rpy="2.46519e-32 1.38667e-32 -5.55112e-17" />
        <axis xyz="0 0 -1" />
        <parent link="board_link" />
        <child link="spacer_link_3" />
    </joint>
    <joint name="spacers_board2_joint" type="fixed">
        <origin xyz="0 0 0.006" rpy="3.14159 -3.08149e-33 -3.14159" />
        <axis xyz="0 0 1" />
        <parent link="spacer_link_2" />
        <child link="board_link_1" />
    </joint>
    <joint name="spinner1_propeller1_joint" type="continuous">
        <origin xyz="0 0 0.0035" rpy="0 -0 0" />
        <axis xyz="0 0 -1" />
        <parent link="spinner_link_3" />
        <child link="propeller_link_2" />
    </joint>
    <joint name="spinner2_propeller2_joint" type="continuous">
        <origin xyz="-6.93889e-18 0 0.0035" rpy="-8.55285e-50 2.46519e-32 -6.93889e-18" />
        <axis xyz="0 0 -1" />
        <parent link="spinner_link_1" />
        <child link="propeller_link_1" />
    </joint>
    <joint name="spinner3_propeller3_joint" type="continuous">
        <origin xyz="0 2.77556e-17 0.0035" rpy="0 -0 2.902e-33" />
        <axis xyz="0 0 -1" />
        <parent link="spinner_link_2" />
        <child link="propeller_link_3" />
    </joint>
    <joint name="spinner4_propeller4_joint" type="continuous">
        <origin xyz="0 0 0.0035" rpy="1.2326e-32 1.2326e-32 -6.93889e-18" />
        <axis xyz="0 0 -1" />
        <parent link="spinner_link" />
        <child link="propeller_link" />
    </joint>
    <joint name="top_left_arm_base_1_joint" type="fixed">
        <origin xyz="-1.38778e-17 -1.73472e-18 -0.02" rpy="-2.81271e-17 6.53168e-17 -2.35619" />
        <axis xyz="-0 -0 1" />
        <parent link="arm_link" />
        <child link="base_link" />
    </joint>
    <joint name="top_left_arm_motor1_joint" type="continuous">
        <origin xyz="-0.006 0.082 -0.0155" rpy="2.09423e-16 2.59744e-16 3.14159" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link" />
        <child link="motor_link_1" />
    </joint>
    <joint name="top_left_arm_pillar1_joint" type="fixed">
        <origin xyz="-0.0105 0.0575855 -0.02" rpy="-3.14159 1.2326e-32 6.93889e-18" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link" />
        <child link="pillar_link_2" />
    </joint>
    <joint name="top_left_board1_spacer_joint" type="fixed">
        <origin xyz="-0.0305 0 0.00175" rpy="2.46519e-32 1.38667e-32 -5.55112e-17" />
        <axis xyz="0 0 -1" />
        <parent link="board_link" />
        <child link="spacer_link_1" />
    </joint>
    <joint name="top_right_arm_base_1_joint" type="fixed">
        <origin xyz="0.0622254 2.08167e-17 0" rpy="4.15504e-17 2.70178e-17 4.996e-16" />
        <axis xyz="0 0 -1" />
        <parent link="base_link" />
        <child link="arm_link_1" />
    </joint>
    <joint name="top_right_arm_motor2_joint" type="continuous">
        <origin xyz="0.0537401 -0.0622254 0.0045" rpy="-1.02112e-32 2.46519e-32 -0.785398" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link_1" />
        <child link="motor_link_3" />
    </joint>
    <joint name="top_right_arm_pillar2_joint" type="fixed">
        <origin xyz="0.0396584 -0.0417797 -2.1684e-19" rpy="-3.14159 -2.46519e-32 2.35619" />
        <axis xyz="0 0 -1" />
        <parent link="arm_link_1" />
        <child link="pillar_link_3" />
    </joint>
    <joint name="top_right_board1_spacer_joint" type="fixed">
        <origin xyz="0 0 0.00175" rpy="2.46519e-32 1.38667e-32 -5.55112e-17" />
        <axis xyz="0 0 -1" />
        <parent link="board_link" />
        <child link="spacer_link_2" />
    </joint>
</robot>
